@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 2rem;
  color: #1f2937;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

header {
  text-align: center;
}

.info * {
  color: #6b7280;
  text-decoration: none;
}

.title {
  margin-bottom: 4px;
  font-weight: bold;
  border-bottom: 1px solid #1f2937;
}

section {
  padding-left: 8px;
}

.section-row {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0 0 0 20px;
}

.mt-2 {
  margin-top: 6px;
}
